In [2]:
import pandas as pd

In [3]:
lambda num: num**2      #Son funciones como def, tienen la ventaja de poder ser creadas mas rapido

In [6]:
potencia = lambda num: num**2
potencia(3)

9

## Cuando usar una funcion lambda
La usamos para crear funciones simples y especifica, las cuales solo se usaran una vez (a lo mejor), hay que evitar el uso de funciones complejas como for, if

Son funciones anonimas ua que no es necesario guardarlas, se usan una vez y luego se destruyen

Son nativas de python

In [15]:
lambda x: x**3

In [16]:
_(5)

125

In [19]:
# _(5)    # Solo funciona uina vez y luego se destruye

In [20]:
lambda x,y,z: x**y + z**y

In [21]:
_(y=3, x=2, z=5)

133

## Otras funciones nativas de python son las Built-in functions
por ejemplo: map(), filter()

## map()
Aplica una funcion a cada elemento dde un iterable y devuelve un objeto map, se utiliza para realizar una operacion en cada elemento del iterable
Es util ya que si nosotros definieramos una funcion, no la podemos iterar en cada elemento de la lista (se puede con un ciclo for), pero el mapeo map() si nos deja irerar

**map(funcion,iterable)**

In [22]:
numeros = [1,2,3,4,5,6,7,8,9]

In [23]:
list(map(lambda num: num**2, numeros))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

1. Dafas dos listas donde la primera son las bases y la seguna los exponenetes, calcula los resultados

In [28]:
base = [7,20,5]
exp = [2,4,5]

res = list(map(lambda x,y: x**y, base,exp))
res

[49, 160000, 3125]

## filter()
Filtra los elementos de un iterable utilizando una funcion quue devuelve T o F, retorna un objeto filter con los elementos que cumplen la condicion

**filter(funcion,iterable)**

In [33]:
numeros = [1,2,3,4,5,6,7,8,9]

In [34]:
5%2 == 0     #% nos devuelve el reciduo de la division, al poner == comparamos si es igual a cero, devuelve True o False

False

In [36]:
list(filter(lambda num: num%2 == 0, numeros))   # Aca queremos filtar los numeros pares

[2, 4, 6, 8]

## sorted()
Es una funcion que ordena los elementos de un iterable y devuelve la lista ordenadada

**sorted(iterable, key=None, reverse=False)**

En key podemos poner una funcion 

Esto se escribe al reves de filter, ya que ahi teniamos funcion y luego iterable, y aca tenemos iterable y luego key

In [39]:
nombres = ('Sopi','Xoc','Erick','Ara')
sorted(nombres, key = lambda x: len(x))         #Aca ordenamos los nombres por el numero de caracteres

['Xoc', 'Ara', 'Sopi', 'Erick']

2. Ordena la siguiente lista de acuerdo al orden alfabetico del tercer elemento de cada tupla

In [47]:
tuplas = [(2,'kg','verdura'),(3,'pieza','pan'),(2,'kg','leche')]

sorted(tuplas, key = lambda x: x[2])    #Aca x es la tupla dentro de la lista de tuplas de la cual queremos extraer el segundo elemento x[2]

[(2, 'kg', 'leche'), (3, 'pieza', 'pan'), (2, 'kg', 'verdura')]

## apply()
Es utilizado para aplicar funciones en un eje de un Dataframe. Un eje son filas 0 o columnas 1

**df["column"].apply(function)**

La funcion no tiene que ser encesariamente lambda, tambien puede ser una def

In [49]:
df = pd.DataFrame({
    'Producto':['Helado','pan','Shampoo','Desodorante'],
    'Costo': [24,8,67,50]  
})

df

      Producto  Costo
0       Helado     24
1          pan      8
2      Shampoo     67
3  Desodorante     50

In [52]:
df['IVA'] = df.Costo*0.16     #Esto se puede con nuemros pero no con strings, para eso necesitamos apply()
df

      Producto  Costo    IVA
0       Helado     24   3.84
1          pan      8   1.28
2      Shampoo     67  10.72
3  Desodorante     50   8.00

In [58]:
df['Producto'].apply(lambda n: n.upper())   # Aca no hemos modificado el df, para eso necesitariamos

0         HELADO
1            PAN
2        SHAMPOO
3    DESODORANTE
Name: Producto, dtype: object

In [60]:
df['QUE_ES']=df['Costo'].apply(lambda precio: 'Barato' if precio <= 30 else 'Caro')
df

      Producto  Costo    IVA  QUE_ES
0       Helado     24   3.84  Barato
1          pan      8   1.28  Barato
2      Shampoo     67  10.72    Caro
3  Desodorante     50   8.00    Caro

In [62]:
df[["Producto", "Costo"]].apply(lambda column: column["Producto"]+"_"+str(column["Costo"]), axis=1)  #axis=1 es para que agarre la primera columna, 
# ya que por default agarra el indice axis=0

0         Helado_24
1             pan_8
2        Shampoo_67
3    Desodorante_50
dtype: object