In [1]:
##  001 Convierte a float y ordena 
## 2 puntos

  
## Elimina 'oC' y convierte a flotantes todos los datos
## y guardalos en la lista temperaturas_float
## Ordenalos de mayor a menor y convierte a Kelvin
## y guarda en una nueva lista llamada 
## kelvin_ordenados 
## Recuerda que Kelvin = oC + 273.15
## 
## de preferencia usa list comprehension 


temperaturas = ['2.8 oC','1.3 oC','3.6 oC','0.5 oC','7.1 oC','8.9 oC','6.2 oC','4.7 oC','5.5 oC','1.2 oC']

In [2]:
kelvin_ordenados = [float(T.removesuffix(' oC')) + 273.15 for T in temperaturas]
kelvin_ordenados.sort(reverse = True)
kelvin_ordenados

[282.04999999999995,
 280.25,
 279.34999999999997,
 278.65,
 277.84999999999997,
 276.75,
 275.95,
 274.45,
 274.34999999999997,
 273.65]

In [3]:
## E2
## 5 puntos
## Sin usar paquetes instalados, crea una nueva lista
## con el formato YYYY-MM-DD  y que se vea, por ejemplo:
## '2023-Jan-01' en lugar de "202301Jan"
## Tip puedes usar list comprehension y sumas de string
## Guarda las fechas con el nuevo formato en fechas_formateadas
## Cuida los espacios, debe tener el formato identico al mostrado.
fechas = ["202301Jan", 
          "202302Feb", 
          "202303Mar", 
          "202304Apr", 
          "202305May", 
          "202306Jun", 
          "202307Jul",
          "202308Aug", 
          "202309Sep", 
          "202310Oct"]


fechas_formateadas  = []

In [4]:
fechas_formateadas  = [f[0:4]+"-"+f[6:9]+"-"+f[4:6] for f in fechas]
fechas_formateadas

['2023-Jan-01',
 '2023-Feb-02',
 '2023-Mar-03',
 '2023-Apr-04',
 '2023-May-05',
 '2023-Jun-06',
 '2023-Jul-07',
 '2023-Aug-08',
 '2023-Sep-09',
 '2023-Oct-10']

In [5]:
## E3
## 5 puntos
## Sin usar paquetes instalados, genere una nueva lista
## con el formato YYYY-MM-DD reemplazando Marzo por el
## número del mes correspondiente, es decir transforma
## "Marzo 10, 2023" a '2023-03-10'
## Tip puedes usar list comprehension y .replace
## Guarda las fechas con el nuevo formato en fechas_es_formateadas
## Cuida los espacios, debe tener el formato identico al mostrado.

fechas_es = [
    "Marzo 10, 2023",
    "Marzo 11, 2023",
    "Marzo 12, 2023",
    "Marzo 13, 2023",
    "Marzo 14, 2023",
    "Marzo 15, 2023",
    "Marzo 16, 2023",
    "Marzo 17, 2023",
    "Marzo 18, 2023",
    "Marzo 19, 2023",
]

fechas_es_formateadas = []

In [6]:
fechas_es_formateadas = [f[10:14]+"-03-"+f[6:9] for f in fechas_es]
fechas_es_formateadas

['2023-03-10,',
 '2023-03-11,',
 '2023-03-12,',
 '2023-03-13,',
 '2023-03-14,',
 '2023-03-15,',
 '2023-03-16,',
 '2023-03-17,',
 '2023-03-18,',
 '2023-03-19,']

In [7]:
g = [f.replace('Marzo','03') for f in fechas_es]          #Lo mismo pero usando el replace
fechas_es_formateadas2 = [f[7:11]+"-"+f[0:2]+"-"+f[3:5] for f in g]
fechas_es_formateadas2

['2023-03-10',
 '2023-03-11',
 '2023-03-12',
 '2023-03-13',
 '2023-03-14',
 '2023-03-15',
 '2023-03-16',
 '2023-03-17',
 '2023-03-18',
 '2023-03-19']

In [8]:
## E4
## 5 puntos
## Sin usar paquetes instalados, genere una nueva lista
## con el formato YYYY-MM-DD reemplazando Marzo por el
## número del mes correspondiente, es decir transforma
## "Marzo 10, 2023" a '2023-03-10'
## Tip puedes usar list comprehension, replace o  un diccionario para hacer el replace
## Guarda las fechas con el nuevo formato en meses_formateados
## Cuida los espacios, debe tener el formato identico al mostrado.

fechas = [
    "Marzo,30,2023",
    "Marzo,31,2023",
    "Abril,29,2023",
    "Abril,30,2023",
    "Mayo,1,2023",
    "Mayo,2,2023",
    "Mayo,8,2023",
    "Mayo,9,2023"
]

meses = {
    'Marzo':'03', 
    'Abril':'04',
    'Mayo':'05'
}
DosDigDia = []

for fecha in fechas:
    mes, dia, año = fecha.split(',')  # Separar mes, día y año
    if len(dia) == 1:  # Verificar si el mes es Mayo y el día tiene un solo dígito
        dia = "0" + dia  # Agregar un cero delante del día
    DosDigDia.append(f"{año}-{mes}-{dia}")  # Unir de nuevo la fecha y agregar a la nueva lista

DosDigDia

['2023-Marzo-30',
 '2023-Marzo-31',
 '2023-Abril-29',
 '2023-Abril-30',
 '2023-Mayo-01',
 '2023-Mayo-02',
 '2023-Mayo-08',
 '2023-Mayo-09']

In [9]:
g = [f.replace('Marzo','03').replace('Abril','04').replace('Mayo','05') for f in DosDigDia]
g

['2023-03-30',
 '2023-03-31',
 '2023-04-29',
 '2023-04-30',
 '2023-05-01',
 '2023-05-02',
 '2023-05-08',
 '2023-05-09']

In [10]:
## E5
## 5 puntos
## Limpia el texto para que te quedes con una lista que contenga elementos con la fecha y hora.
## La hora debe ser formato PM y debe usar guión medio, debe verse como:
## '09-03-2022 07:03:36 PM'
## en formato 'dd-mm-yyyy HH:MM:SS PM'
## con un espacio entre elementos.
## Cuida los espacios, debe tener el formato identico al mostrado, 
## toma como referencia las comillas.
## La secuencia sugerida es:
## 1. Divide el texto en elementos de una lista
## 2. Elimina los elementos vacios vacios de la lista
## 3. Divide cada renglón que ya tienes como un elemento en sub elementos
## 4. Guarda en una nueva lista solo el elemento que contiene las fechas
## 5. Dale el formato pedido reemplazando los caracteres adecuados.


texto = '''
Q,+001.61,-001.51,-000.16,M,00,2D,1,09/03/2022 07:03:36 p. m.
Q,+000.57,-001.01,-000.44,M,00,2B,2,09/03/2022 07:03:37 p. m.
Q,+000.06,-000.93,+000.51,M,00,27,3,09/03/2022 07:03:38 p. m.
Q,+001.51,-000.76,-000.31,M,00,2F,4,09/03/2022 07:03:39 p. m.
Q,+002.12,-001.34,-000.62,M,00,2A,5,09/03/2022 07:03:40 p. m.
Q,+000.81,-000.61,+000.35,M,00,27,6,09/03/2022 07:03:41 p. m.
Q,+000.48,-000.43,-000.02,M,00,20,7,09/03/2022 07:03:42 p. m.
Q,+000.32,-000.62,+000.11,M,00,2A,8,09/03/2022 07:03:43 p. m.
Q,+001.38,-001.14,+000.48,M,00,2D,9,09/03/2022 07:03:44 p. m.
'''

# fechas_pm  =

In [11]:
## 1. Divide el texto en elementos de una lista
texto2 = texto.split('\n')
texto2

['',
 'Q,+001.61,-001.51,-000.16,M,00,\x032D,1,09/03/2022 07:03:36 p. m.',
 'Q,+000.57,-001.01,-000.44,M,00,\x032B,2,09/03/2022 07:03:37 p. m.',
 'Q,+000.06,-000.93,+000.51,M,00,\x0327,3,09/03/2022 07:03:38 p. m.',
 'Q,+001.51,-000.76,-000.31,M,00,\x032F,4,09/03/2022 07:03:39 p. m.',
 'Q,+002.12,-001.34,-000.62,M,00,\x032A,5,09/03/2022 07:03:40 p. m.',
 'Q,+000.81,-000.61,+000.35,M,00,\x0327,6,09/03/2022 07:03:41 p. m.',
 'Q,+000.48,-000.43,-000.02,M,00,\x0320,7,09/03/2022 07:03:42 p. m.',
 'Q,+000.32,-000.62,+000.11,M,00,\x032A,8,09/03/2022 07:03:43 p. m.',
 'Q,+001.38,-001.14,+000.48,M,00,\x032D,9,09/03/2022 07:03:44 p. m.',
 '']

In [12]:
## 2. Elimina los elementos vacios vacios de la lista

texto3 = []

for x in texto2:
    if x != '':
        texto3.append(x)

texto3

['Q,+001.61,-001.51,-000.16,M,00,\x032D,1,09/03/2022 07:03:36 p. m.',
 'Q,+000.57,-001.01,-000.44,M,00,\x032B,2,09/03/2022 07:03:37 p. m.',
 'Q,+000.06,-000.93,+000.51,M,00,\x0327,3,09/03/2022 07:03:38 p. m.',
 'Q,+001.51,-000.76,-000.31,M,00,\x032F,4,09/03/2022 07:03:39 p. m.',
 'Q,+002.12,-001.34,-000.62,M,00,\x032A,5,09/03/2022 07:03:40 p. m.',
 'Q,+000.81,-000.61,+000.35,M,00,\x0327,6,09/03/2022 07:03:41 p. m.',
 'Q,+000.48,-000.43,-000.02,M,00,\x0320,7,09/03/2022 07:03:42 p. m.',
 'Q,+000.32,-000.62,+000.11,M,00,\x032A,8,09/03/2022 07:03:43 p. m.',
 'Q,+001.38,-001.14,+000.48,M,00,\x032D,9,09/03/2022 07:03:44 p. m.']

In [13]:
## 3. Divide cada renglón que ya tienes como un elemento en sub elementos

texto4 = [elemento.split(',') for elemento in texto3]
texto4

[['Q',
  '+001.61',
  '-001.51',
  '-000.16',
  'M',
  '00',
  '\x032D',
  '1',
  '09/03/2022 07:03:36 p. m.'],
 ['Q',
  '+000.57',
  '-001.01',
  '-000.44',
  'M',
  '00',
  '\x032B',
  '2',
  '09/03/2022 07:03:37 p. m.'],
 ['Q',
  '+000.06',
  '-000.93',
  '+000.51',
  'M',
  '00',
  '\x0327',
  '3',
  '09/03/2022 07:03:38 p. m.'],
 ['Q',
  '+001.51',
  '-000.76',
  '-000.31',
  'M',
  '00',
  '\x032F',
  '4',
  '09/03/2022 07:03:39 p. m.'],
 ['Q',
  '+002.12',
  '-001.34',
  '-000.62',
  'M',
  '00',
  '\x032A',
  '5',
  '09/03/2022 07:03:40 p. m.'],
 ['Q',
  '+000.81',
  '-000.61',
  '+000.35',
  'M',
  '00',
  '\x0327',
  '6',
  '09/03/2022 07:03:41 p. m.'],
 ['Q',
  '+000.48',
  '-000.43',
  '-000.02',
  'M',
  '00',
  '\x0320',
  '7',
  '09/03/2022 07:03:42 p. m.'],
 ['Q',
  '+000.32',
  '-000.62',
  '+000.11',
  'M',
  '00',
  '\x032A',
  '8',
  '09/03/2022 07:03:43 p. m.'],
 ['Q',
  '+001.38',
  '-001.14',
  '+000.48',
  'M',
  '00',
  '\x032D',
  '9',
  '09/03/2022 07:03:44 p. m.']]

In [14]:
## 4. Guarda en una nueva lista solo el elemento que contiene las fechas

texto5 = [elemento[8] for elemento in texto4]
texto5

['09/03/2022 07:03:36 p. m.',
 '09/03/2022 07:03:37 p. m.',
 '09/03/2022 07:03:38 p. m.',
 '09/03/2022 07:03:39 p. m.',
 '09/03/2022 07:03:40 p. m.',
 '09/03/2022 07:03:41 p. m.',
 '09/03/2022 07:03:42 p. m.',
 '09/03/2022 07:03:43 p. m.',
 '09/03/2022 07:03:44 p. m.']

In [15]:
## 5. Dale el formato pedido reemplazando los caracteres adecuados. '09-03-2022 07:03:36 PM'

fechas_pm  = [elemento.replace('/','-').replace('p. m.','PM') for elemento in texto5]
fechas_pm

['09-03-2022 07:03:36 PM',
 '09-03-2022 07:03:37 PM',
 '09-03-2022 07:03:38 PM',
 '09-03-2022 07:03:39 PM',
 '09-03-2022 07:03:40 PM',
 '09-03-2022 07:03:41 PM',
 '09-03-2022 07:03:42 PM',
 '09-03-2022 07:03:43 PM',
 '09-03-2022 07:03:44 PM']

In [16]:
## E6
## 5 puntos
## En el siguiente conjunto de datos, te han dado 10 mediciones
## conserva el orden de los números, pero pon como primer elemento
## la fecha usando el elemento 1,4 y 6 de cada sublista, que son
## mes, año y día. El formato de fecha debe ser YYYY-MM-DD
## La primer sublista debe verse como
## ['2023-Enero-1', 18.2, 345, 938, 75.6, 425, 624]
## Nota como se conserva el orden de los datos y las columnas 1,4 y 6 
## han formado la fecha y es ahora el primer dato
## y que los numeros no tienen entrecomillado, por lo cual son enteros 
## los que no tienen decimal y flotantes los que tienen decimal.
## guarda en la variable datos_fecha
## Cuida los espacios, debe tener el formato identico al mostrado.
datos = [
    ['18.2', 'Enero', '345', '938', '2023', '75.6', '1', '425', '624'],
    ['73.9', 'Febrero', '856', '432', '2023', '29.5', '2', '781', '952'],
    ['87.3', 'Marzo', '465', '398', '2023', '72.9', '3', '612', '432'],
    ['38.1', 'Abril', '293', '582', '2023', '72.9', '4', '153', '867'],
    ['97.3', 'Mayo', '159', '246', '2023', '82.3', '5', '746', '598'],
    ['29.4', 'Junio', '867', '598', '2023', '13.5', '6', '628', '392'],
    ['73.9', 'Julio', '236', '985', '2023', '73.8', '7', '195', '382'],
    ['95.7', 'Agosto', '834', '582', '2023', '62.5', '8', '748', '953'],
    ['23.4', 'Septiembre', '865', '392', '2023', '58.7', '9', '341', '782'],
    ['78.3', 'Octubre', '528', '974', '2023', '23.7', '10', '654', '392']
]

datos_fecha = []

for elemento in datos:
    a = float(elemento[0])                   #Aca se podria poner una condicion if para saber si es decimal o entero y apartur de ahi asignarle el tipo
    mes = elemento[1]                        #pero no quise 
    b = int(elemento[2])
    c = int(elemento[3])
    year = elemento[4]
    d = float(elemento[5])
    dia = elemento[6]
    e = int(elemento[7])
    f = int(elemento[8])
    datos_fecha.append([f'{year}-{mes}-{dia}',a,b,c,d,e,f])  ## ['2023-Enero-1', 18.2, 345, 938, 75.6, 425, 624]
datos_fecha

[['2023-Enero-1', 18.2, 345, 938, 75.6, 425, 624],
 ['2023-Febrero-2', 73.9, 856, 432, 29.5, 781, 952],
 ['2023-Marzo-3', 87.3, 465, 398, 72.9, 612, 432],
 ['2023-Abril-4', 38.1, 293, 582, 72.9, 153, 867],
 ['2023-Mayo-5', 97.3, 159, 246, 82.3, 746, 598],
 ['2023-Junio-6', 29.4, 867, 598, 13.5, 628, 392],
 ['2023-Julio-7', 73.9, 236, 985, 73.8, 195, 382],
 ['2023-Agosto-8', 95.7, 834, 582, 62.5, 748, 953],
 ['2023-Septiembre-9', 23.4, 865, 392, 58.7, 341, 782],
 ['2023-Octubre-10', 78.3, 528, 974, 23.7, 654, 392]]

In [17]:
type(datos_fecha[0][4])

float